# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
src/back-end/todo-api

# Frontend
src/front-end/node_modules/
src/front-end/dist/
src/front-end/.env

# Temporary files
/tmp/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
